<h1>Create a new user</h1>

<form action="<%= users_url %>" method="POST">
<label for="user_user_name">Create a Username</label>
<input type="text" name="user[user_name]" id = "user_user_name">
<label for="user_password">Enter a password</label>
<input type="password" name="user[password]" id="user_password">
<input type="submit" name="Create Account!">

</form>