<h1>Please sign in</h1>

<form action="<%= session_url %>" method="POST">
<label for="user_email">Enter Email</label>
<input type="text" name="user[email]" id="user_email">
<br>
<label for="user_password">Password</label>
<input type="text" name="user[password]" id="user_email">
<br>
<input type="submit" value="Log in">
</form>
<br>
<a href="<%= new_user_url %>">I am a new user</a>