<!-- Create a drop down for the Band, with selected band selected -->
<!-- Create radio buttons to select if the album is live or studio -->

<h1>Create a new album!</h1>

<form action="<%= albums_url %>" method="POST">
<label for="album_name">Album Name</label>
<input type="text" id="album_name" name="album[name]">

<label for="album_band">Band</label>
<input type="text" id="album_band" name="album[band]" value = "<%= @band.name %>">

<% Band.all each do |band| %>
<select name="album[band]" id="album_band"><%= band.name %></select>
<% end %>

<label for="album_year">Album Year</label>
<input type="text" id="album_year" name="album[year]">

<input type="submit" value="Submit">

</form>